.auth {

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input {
        margin-top: 1em;
        color: black;
        width: 10em;
        border: 1px black solid;
    }
    ion-label{
        color: black;
    }
}