                            <!-- Menu  -->
<ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <a [routerLink]="['/page_projet']" routerLinkActive="active" class="menu_link">
      <li>Projets</li>
    </a>
  
</ion-menu>
    <ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
                        <!-- Corps de la page -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>WebApp</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="button_block">
      <ion-button [routerLink]="['/page_projet']">
        <h3>Ajouter Projet</h3>
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/list_projet']">
        <h3>Liste des projets</h3>
        <ion-icon name="list-outline"></ion-icon>
      </ion-button>

    </div>
    
  </ion-content>
</div>