#main-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, #83a4d4, #b6fbff);
    p{
        
        padding: 1em;
        font-size: medium;
        font-style: italic;
    }
    img{
        margin-top: 3em;
    }
    h3{
        margin-top: 2em;
        font-weight: bold;
    }
    .form{
        display: flex;
        flex-direction: column;
        input{
            margin-top: 10em;
            display: flex;
            border: none;
            text-align: center;
            margin-bottom: 1em;
            margin-left: 15em;
            border-radius: 4%;
            width: 200px;
            height: 30px;
            background-color: rgb(247, 247, 247);
            &:active{
                border-color: aliceblue;
            }
        }
        label{
            font-size: 14px;
        }

        button{
            color: white;
            background-color:#3171e0;
            width: 50em;
            height: 50px;
            margin-top: 12em;
            border-radius: 4%;
            &:active{
                transform: scale(1);
            }
        }
    }
    
    a{
        z-index: 3;
        font-size: 16px;
        margin-top: 7em;
        text-align: center;
    }
div{
    .auth{
        
        background: linear-gradient(to right, #83a4d4, #b6fbff);
        border: 1px black solid;
        width: 20em;
        height: 11em;
        margin-left: 2em;
        ion-button{

        }

        .input{
            text-align: center;
            padding-top: 2em
        }
    }

}
   

}