<ion-header>
  <h2>WebApp</h2>
</ion-header>
<div class="img">
  <img src="assets/img/dti.png" alt="">
</div>

  <div id="main-content">
    
    <h3>Mot de passe oublié ?</h3>
    <p>Après avoir saisi votre adresse e-mail, vous recevrez un lien permettant de réinitialiser votre mot de passe.</p>
  
    <div class="form">
      <label for="">Email*</label>
      <input type="email">
  
      <a (click)="go()"  routerLink="/login" >Se connecter ?</a>
      
    </div>
    

  
</div>

<ion-footer>
  <div>
    
      
     <ion-button expand="full">Reinitialiser</ion-button>
  </div>
</ion-footer>


<!-- <a routerLink="/forgetpass">Mot de passe oublié ?</a> -->