<ion-header>
  <h2>WebApp</h2>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="ion-page" id="main-content">
    <img src="assets/img/dti.png">
  </div>
  <div class="form">
    
    <h3>CONNEXION</h3>
    <ion-label>Identifiant</ion-label>
    <ion-input [(ngModel)]="login" class="custom"  required="true"></ion-input>
    <ion-label>Mot&nbsp;de&nbsp;passe</ion-label>

    <div style="position:relative;display:inline-block" class="input-content">
      <ion-input #pass (click)="go()" [(ngModel)]="pwd" class="custom" type={{getClass()}} required="true">

      </ion-input>
      <div class="icon">
        <button (click)="hidePass()"><img src={{this.url}} class="svg"></button>
      </div>
    </div>



    <!-- [className]="this.off == true ? 'svg' : 'svg-off'" -->
    <a [routerLink]="['/forgetpass']">Mot&nbsp;de&nbsp;passe&nbsp;oublié?</a>


  </div>
  <!-- [style.display]="display2fa" -->



  <!-- <img (click)="hidePass()"class="off" src="assets/icon/eye-off.svg"> -->
</ion-content>
<app-auth-facteurs *ngIf="button==true" (authfa)="loginAuth2fa($event)"></app-auth-facteurs>
<!-- <div #div [style.display]="display2fa">
  <div class="auth">
    <ion-label>Code authentification à deux facteurs</ion-label>
    <ion-input [(ngModel)]="auth2fa" placeholder="Custom input" class="input"></ion-input>
    <ion-button expand="block" shape="round" (click)="onSubmit()" color="success">
      CONFIRMER SAISIE
    </ion-button>

  </div>
</div> -->
<ion-footer>
  <div>
    <ion-button (click)="onClick()" expand="full" [disabled]="button" type="submit" >Valider</ion-button>
  </div>
</ion-footer>
                                      <!-- PARTIE COMMENTEE -->

<!-- <ion-item lines="none">
        <ion-button fill="clear" routerLink="/forgetpass">Mot de passe oublié ?</ion-button>
      </ion-item> -->

<!-- <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title slot="end" class="title">Dauphin Telecom</ion-title>
      </ion-toolbar>
    </ion-header> -->


<!-- <ion-content class="ion-padding">
           
          
            <div class="form">
              
                <h3>Se connecter</h3>
                <ion-input placeholder="Identifiant" class="custom"></ion-input>
                <ion-input placeholder="Mot de passe" class="custom" type="password"></ion-input>
                <a routerLink="/forgetpass">Mot de passe oublié ?</a>
                <div>
                  <ion-button class="button">Valider</ion-button>
                </div>
              
              
            </div>
    
            
          </ion-content> -->





<!-- <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Se connecter</ion-label>
    </ion-tab-button> -->