<ion-header>
  <h2>WebApp</h2>
</ion-header>
<ion-content>
  <div class="ion-page" id="main-content">
    <h2>Mettre à jour le mot de passe</h2>
    <img src="assets/img/dti.png">
  </div>

  <div class="form">
   
    <ion-label>
      <h2>Nouveau mot de passe</h2>
    </ion-label>
    <ion-input   class="custom" [(ngModel)]="new_pwd"></ion-input>
    <!-- <ion-button  expand="full" >
      Valider
    </ion-button> -->
  </div>

  <div [style.display]="display2fa">
    <div class="auth">
      <ion-label>Code authentification à deux facteurs</ion-label>
      <ion-input [(ngModel)]="auth2fa" placeholder="Custom input" class="input"></ion-input>
      <ion-button expand="block" shape="round" (click)="onSubmit()" color="success">
        CONFIRMER SAISIE
      </ion-button>
      MDP : TestDeLaMort1234@
    </div>
  </div>
</ion-content>
<ion-footer>
  <div>
    <ion-button (click)="onSubmit()" expand="full" [disabled]="button" type="submit">Valider</ion-button>
  </div>
</ion-footer>