.container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
   
    img{
        margin: auto;
        display: flex;
        top: 1em;
        position: relative;
    }
}