
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <div class="select">
    <h5>Projet</h5>
    
  
    <select name="" id="" [(ngModel)]="projectLabel">
      <option value="" disabled selected>Selectionner un projet</option>
      <option [value]="this.name" *ngFor="let project of projects" >{{this.name}}</option>
      
      
    </select>
  </div>
  
  <div class="datetime">
    <h5>Date</h5>
    <!-- [value]="this.jannee.getFullYear()+'-'+this.month.getMonth()+'-'+this.jours.getDate()" -->
    <ion-input type="date" [(ngModel)]="date"></ion-input>
    
  </div>
  
  <div class="champs">
    <ion-item fill="solid">
      <ion-label position="floating">Heures</ion-label>
      <ion-input type="number" [(ngModel)]="hours"></ion-input>
    </ion-item>
    <ion-item fill="solid">
      <ion-label position="floating">Minutes</ion-label>
      <ion-input type="number" [(ngModel)]="minute"></ion-input>
    </ion-item>
    <ion-item fill="solid">
      <ion-label position="floating">Commentaire</ion-label>
      <ion-textarea type="text" [(ngModel)]="comments" [autoGrow]="true"></ion-textarea>
    </ion-item>
  
  
  
   
  
   
  </div>
  
</ion-content>

<ion-footer>
  <ion-button (click)="submitProject()" expand="full">
    Enregistrer
  </ion-button>
</ion-footer>
