ion-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .champs {
        position: relative;
        width: 100%;
        margin: auto;
        top: 5em;
    
        ion-input {
            padding: 1em;
            --background-color:white;
        }
        ion-button{
            margin-top: 5em;
        }
    }
    
    .datetime {
        top: 3em;
        position: relative;
       ion-input{
        margin: auto;
        text-align: center;
        width: 10em;
        background-color: rgba(245, 245, 245, 0.801);
       }
    }
    
    h5 {
        margin-left: 1em;
    }
    
    
    
    
    .select {
    
        select {
            padding: 10px;
            border-radius: 5px;
            
            font-size: 16px;
            color: #555;
            appearance: none;
            --background-color:white;
        }
        
    
       
    }
    
    ion-label {
        --color: black;
    }
}

